.sa{
    width: 249px;
    height: 29px;
}
.q{
    width: 249px;
    height: 29px;  
}
.as{
    width: 249px;
    height: 29px; 
}
.xs{
    width: 249px;
    height: 29px;
}
.df{
    width: 249px;
    height: 29px; 
}
.sa{
    width: 249px;
    height: 29px; 
}
.sd{
    width: 249px;
    height: 29px; 
}
.fg{
    width: 114px;
    height: 33px;
    background: none;
    }
    .cc{
        width: 114px;
        height: 33px;
        background: none;
         }